* {
	font-family: custom, arial, sans-serif;
}
a {
	color: #007070;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
fieldset {
	width: 642px;
	height: 100%;
	margin: 0 auto;
	border: 1px solid #bbb;
	background-color: #eee;
	color: #333;
	padding: 10px;
}
@font-face {
	font-family: custom;
	src: url(../fonts/roboto.ttf);
}
@media only screen and (max-width: 666px) {
	fieldset {
		width: calc(100% - 20px);
	}
	#screenshot {
		width: 100%;
	}
}
