.hbox {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
}

.vbox {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
}

.fill {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.grow {
	-webkit-flex: 1;
	flex: 1;
}

.scroll {
	overflow: auto;
}

@font-face {
	font-family: 'roboto';
	src: url(../fonts/roboto.ttf);
}

/*APP*/

* {
	-webkit-user-drag: none;
	font-family: 'roboto';
}

::-webkit-scrollbar {
	width: 5px;
	background-color: rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb {
	background-color: #008080;
}

body {
	background-color: #eee;
	overflow-x: hidden;
}

.spacing {
	padding: 10px;
}

.logo {
	width: 200px;
	height: 200px;
}

.logo-mini {
	width: 39px;
	height: 39px;
	cursor: pointer;
}

.searchfield, .searchbutton {
	border: 1px solid #CCC;
	padding: 10px;
	outline: none;
}

.searchfield {
	width: 350px;
}

.searchbutton {
	width: 50px;
	cursor: pointer;
	background-color: #FFF;
	color: #555;
}

.card {
	cursor: pointer;
	padding: 10px;
}

.card:hover {
	background-color: #FFF;
}

.filename {
	color: #008080;
}

.error {
	color: #F00;
}

.description {
	color: #555;
	font-size: 10pt;
}

.loader-bg {
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
}

.loader {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	width: 50px;
	height: 50px;
	margin: -25px 0 0 -25px;
	border: 5px solid #FFF;
	border-radius: 50%;
	border-top: 5px solid rgba(0,0,0,0);
	border-bottom: 5px solid rgba(0,0,0,0);
	width: 50px;
	height: 50px;
	animation: spin .5s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
