.hbox {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
}

.vbox {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
}

.fill {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.grow {
	-webkit-flex: 1;
	flex: 1;
}

.scroll {
	overflow-y: visible;
}

@font-face {
	font-family: roboto;
	src: url(../fonts/roboto.ttf);
}

/*APP*/

* {
	-webkit-user-drag: none;
	user-select: none;
	cursor: default;
	font-family: roboto, arial, sans-serif;
	margin: 0;
	padding: 0;
}

::-webkit-scrollbar {
	background-color: #444;
}

::-webkit-scrollbar-thumb {
	background-color: #00FFFF;
}

body {
	background-color: #000;
	overflow-x: hidden;
}

.searchbar {
	padding: 10px;
	background-color: #333;
}

.logo {
	width: 35px;
	height: 35px;
	margin-right: 10px;
}

.vlc {
	width: 200px;
	height: 200px;
}

.searchfield, .searchbutton {
	border: none;
	outline: none;
	padding: 10px;
	background-color: #111;
	color: #FFF;
}

.searchfield {
	cursor: text;
	width: 350px;
}

.searchbutton {
	width: 50px;
	cursor: pointer;
	color: #555;
}

.searchbutton:hover {
	background-color: #222;
	color: #FFF;
}

.searchbutton * {
	cursor: pointer;
}

.card {
	cursor: pointer;
	padding: 10px;
}

.card * {
	cursor: pointer;
	word-wrap: break-word;
}

.card:hover {
	background-color: #111;
}

.filename {
	color: #00FFFF;
}

.description {
	color: #FFF;
	font-size: 10pt;
}

.file-info {
	color: #088;
}

.error {
	color: #FFF;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.error-vlc {
	color: #FFF;
}

.loader-bg {
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
}

.loader {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	width: 50px;
	height: 50px;
	margin: -25px 0 0 -25px;
	border: 5px solid #00FFFF;
	border-radius: 50%;
	border-top: 5px solid rgba(0,0,0,0);
	border-bottom: 5px solid rgba(0,0,0,0);
	width: 50px;
	height: 50px;
	animation: spin .5s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
