/* LAYOUT */

.hbox {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
}

.vbox {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
}

.fill {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.grow {
	-webkit-flex: 1;
	flex: 1;
}

/*APP*/

@font-face {
	font-family: roboto;
	src: url(../fonts/roboto.ttf);
}


* {
	-webkit-user-drag: none;
	user-select: none;
	cursor: default;
	font-family: roboto, arial, sans-serif;
	margin: 0;
	padding: 0;
}

body {
	overflow-x: hidden;
}

label {
	font-size: 10pt;
}

input {
	outline: none;
	border: none;
}

a {
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
}

input[type="color"] {
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
}

fieldset {
	margin: 10px;
	padding: 10px;
	border-style: solid;
	border-width: 1px;
	border-bottom: none;
	border-left: none;
	border-right: none;
}

legend {
	padding: 3px;
}

.bg {
	position: fixed;
	top: 57px;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	height: calc(100vh - 57px);
	overflow-y: auto;
	overflow-x: hidden;
}

.right {
	position: absolute;
	top: 50%;
	right: 11px;
	transform: translateY(-50%);
}

.topbar {
	padding: 10px;
	position: fixed;
	width: calc(100vw - 20px);
}

.topbar h3 {
	position: absolute;
	top: 50%;
	left: 55px;
	transform: translateY(-50%);
}

.spacing {
	padding: 10px;
}

.logo {
	width: 37px;
	height: 37px;
	margin-right: 10px;
}

.vlc {
	width: 200px;
	height: 200px;
}

.input, .btn {
	border-width: 1px;
	border-style: solid;
	outline: none;
	padding: 10px;
}

.input {
	cursor: text;
}

.searchfield {
	width: 350px;
}

.btn {
	width: 50px;
	cursor: pointer;
	margin-right: 4px;
	padding-left: 0;
	padding-right: 0;
}

.more {
	margin: 10px;
}

.btn * {
	cursor: pointer;
}

.card {
	cursor: pointer;
	padding: 10px;
}

.card * {
	cursor: pointer;
	word-wrap: break-word;
}

.card:hover .filename {
	text-decoration: underline;
}

.description {
	font-size: 10pt;
}

.error {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.loader-bg {
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
}

.loader {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	width: 50px;
	height: 50px;
	margin: -25px 0 0 -25px;
	border: 5px solid rgba(0,0,0,0);
	border-radius: 50%;
	width: 50px;
	height: 50px;
	animation: spin .5s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
