<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Play Torrent</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div id="app">
		<div v-if="section == 'home'" class="vbox fill">
			<div class="grow"></div>
			<div class="hbox">
				<div class="grow"></div>
				<img src="img/logo.png" class="logo">
				<div class="grow"></div>
			</div>
			<br>
			<div class="hbox">
				<div class="grow"></div>
				<form @submit="submit">
					<input type="text" placeholder="Search media" class="searchfield" v-model="query" autofocus required>
					<button type="submit" class="searchbutton"><i class="fa fa-search"></i></button>
				</form>
				<div class="grow"></div>
			</div>
			<div class="grow"></div>
		</div>
		<div v-else-if="section == 'search'" class="vbox">
			<div class="hbox spacing">
				<img src="img/logo.png" class="logo-mini" @click="goHome">&nbsp;
				<form @submit="submit">
					<input type="text" placeholder="Search media" class="searchfield" v-model="query" autofocus required>
					<button type="submit" class="searchbutton"><i class="fa fa-search"></i></button>
				</form>
			</div>
			<div class="vbox">
				<div class="card" v-for="(file, i) in files" :key="i" @click="play(file.magnetLink)">
					<b class="filename">{{file.name}}</b><br>
					<div class="description">
						<b>Leechers:</b> {{file.leechers}}<br>
						<b>Seeders:</b> {{file.seeders}}<br>
						<b>Size:</b> {{file.size}}<br>
						<b>Upload date:</b> {{file.uploadDate}}<br>
						<b>Uploader:</b> {{file.uploader}}<br>
					</div>
				</div>
			</div>
		</div>
		<div v-if="loading" class="loader-bg">
			<div class="loader"></div>
		</div>
	</div>
	<script src="js/main.js"></script>
</body>
</html>
