<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Play Torrent</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div id="app">
		<div v-if="novlc" class="vbox fill">
			<div class="grow"></div>
			<div class="hbox">
				<div class="grow"></div>
				<img src="img/vlc.png" class="vlc">
				<div class="grow"></div>
			</div>
			<br>
			<div class="hbox">
				<div class="grow"></div>
				<div class="error-vlc">VLC not found</div>
				<div class="grow"></div>
			</div>
			<div class="grow"></div>
		</div>
		<div v-else-if="ready" class="vbox">
			<div class="hbox searchbar">
				<img src="img/logo.png" class="logo">
				<form @submit="submit">
					<input type="text" placeholder="Search media" class="searchfield" v-model="query" autofocus>
					<button type="submit" class="searchbutton"><i class="fa fa-search"></i></button>
				</form>
			</div>
			<div class="vbox">
				<div class="card" v-for="(file, i) in files" :key="i" @click="play(file.magnetLink)">
					<span class="filename">{{file.name}}</span><br>
					<div class="description">
						<span class="file-info">Leechers</span> {{file.leechers}}<br>
						<span class="file-info">Seeders</span> {{file.seeders}}<br>
						<span class="file-info">Size</span> {{file.size}}<br>
						<span class="file-info">Category</span> {{file.category}}<br>
						<span class="file-info">Subcategory</span> {{file.subcategory}}<br>
						<span class="file-info">Upload date</span> {{file.uploadDate}}<br>
						<span class="file-info">Uploader</span> {{file.uploader}}<br>
					</div>
				</div>
				<button class="more" v-if="more" @click="loadMore"><i class="fa fa-chevron-down"></i></button>
				<div v-if="error" class="error">Network error</div>
			</div>
		</div>
		<div v-if="loading" class="loader-bg">
			<div class="loader"></div>
		</div>
	</div>
	<script src="js/main.js"></script>
</body>
</html>
